@media screen and (min-width: 360px) {
    .custom-button {
        padding: 10px 12px;
        margin-bottom: 10px;
    }
    .slider_banner {
        height: 107px;
    }      
}
@media screen and (min-width: 390px) {
    .main_con { 
        max-width: 390px;
    }
    .carusel, .images {
        height: 140px;
    }
    .inner_block, .slider_banner {
        height: 122px;
    }
    .labels {
        top: 125px;
    }
    .custom-button {
        padding: 10px 12px;
    }      
}

@media screen and (min-width: 414px) {
    .main_con { 
        max-width: 414px;
    }
    .inner_block, .slider_banner {
        height: 125px;
    }
    .labels {
        top: 126px;
    }  
    .custom-button {
        padding: 10px 14px;
    }    
}

@media screen and (min-width: 516px) {
    .main_con { 
        max-width: 500px;
    }
    .carusel, .images {
        height: 160px;
    }    
    .inner_block, .slider_banner {
        height: 142px;
    }
    .labels {
        top: 145px;
    }   
    .custom-button {
        padding: 10px 18px;
    }     
}
  

@media screen and (min-width: 768px) {
    .main_con { 
        max-width: 768px;
    }
    .carusel, .images { 
        height: 200px !important;  
    }
    .inner_block {
        height: 200px;    
    }  
    .slider_banner {
        height: 182px;
    }
    .labels {
        top: 185px;
    }
    .custom-button {
        padding: 10px 23px;
	}
	
	.gecko_banner {
		width: 175px;
		height: 28px;
	}

                   
}